<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ejemplo</title>
    <link rel="stylesheet" href="assets/css/app.css">
   
  </head>
  <body class="bg-slate-900 overflow-hidden">
    <main>
      {% block content %}
      {% endblock %}
    </main>

     <script src="assets/js/app.js"></script>
  </body>
</html>